.advantages {
    background: linear-gradient(0deg, #2e3e61 0%, rgb(46,62,97) 100%);
}
.advantages__icons {
    max-width: 30px;
    max-height: 30px;
}

.row__one{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
}

.row__two{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
}

.advantages__block h2{
    color: #fff;
    margin-top: 10px;
    margin-left: 15px;
}

.advantages__block p{
    color: #fff;
    margin-top: 10px;
    margin-left: 15px;
}
.advantages__rupor {
    max-width: 30px;
    max-height: 30px;
}