@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-background: rgb(26, 28, 40);
    --color-elements: rgb(255 184 17);
    --color-text: rgb(207, 205, 216);
    --color-title: #fff;
    --color-title-city: #7f84dd;
    --color-link:rgba(255,255,255,0.49);
    --color-text-button: rgb(26, 28, 40);
    --color-background-statistics:rgb(33, 40, 61);
    --color-background-eight-block: #222a40;
    --color-background-substrate:rgb(42, 48, 69);
    --color-subtitle:rgb(167, 167, 177);
    --color-datetime-investors:rgb(77, 142, 255);
    --color-datetime-news:rgb(127, 132, 221);
    font-family: 'Fira Sans', sans-serif;
}
.container {
    max-width: 1200px;
    margin: auto;
}

img {
    width: 100%;
    display: block;
}
