#download_application {
    background-color: #2e3e61;
}

.features__text {
    display: flex;
    flex-direction: column;
}

.features__start features__continue {
    display: flex;
}

.features__name {
    font-family: "Ubantu", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    text-transform: none;
    color: var(--color-title);
}
.features__believe {
    color: var(--color-text);
    font-family: "Fira Sans", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
}
.features__question {
    color: var(--color-text);
    font-family: "Fira Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    text-transform: none;
    line-height: 27.2px;
    cursor: pointer;
}
.features__link {
    text-decoration: none;
    color: rgb(127,132,221);
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    text-transform: none;
    line-height: 24px;
    cursor: pointer;
}

.demo__application {
    /*display: flex;*/
}

.features__carousel {
    
    margin: 20px 0px 100 px 0px;
}
.features__carousel-gradient {
    height: 15px;
    width: auto;
    background-image: linear-gradient(105deg, #17C89D 39%, #346BC0 96%);
}

.features__carousel-information {
    height: 200px;
    width: auto;
    background: #1a1c28;;
}
.features__carousel-block {
    width: 260px;
    height: 215px;
    padding: 10px 15px 5px 10px;
}

.features__carousel-features {
    color: var(--color-text);
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    text-transform: none;
    padding: 20px 10px 0px 15px;
}
.features__carousel-benefit {
    color: var(--color-text);
    font-family: "Fira Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    padding: 20px 5px 0px 15px;
    text-align: left;
}

.application__download {
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
    justify-content: left;
    min-height: 126px;
}
.application__box-line {
    color: var(--color-elements);
    display: flex;
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
    justify-content: left;
    align-items: start;
    min-width: none;
}

.application__line {
    border-image-width: 1;
}

.application__call {
    font-size: 34px;
    text-align: left;
    font-weight: 700;
    font-style: normal;
    font-family: "Ubuntu", sans-serif;
    color: var(--color-title);
}

.advantage__block {
    display: flex;
    padding: 8px 0px 8px 0px;
}

.advantage__icon-box {
    width: 50px;
    height: 50px;
    background: #1a1c28;
    display: flex;
    border-radius: 55%;
    margin: 7px;
}

.advantage__text {
    display: flex;
    flex-direction: column;
}

.advantage__icon {
    width: 26px;
    height: 26px;
    margin: auto;
}
.advantage__label {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}

.label__appstore-container {
    background-size: cover;
}

.label__appstore, .label__googleplay {
    width: 135px;
    height: 42px;
    margin: 10px 10px 10px 10px;
    border-color: white;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 7%;
}
.advantage__name {
    color: var(--color-text);
    font-family: "Fira Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    line-height: 27.2px; 
}

.application__background {
    width: 320px;
    display: flex;
    /*background-image: url(img/background_phone.webp);*/
}

.application__phone {
    width: 200px;

}

.banner__background {
    width: 279px;
    height: 272px;
    background:linear-gradient(-82deg, rgb(186, 88, 208) 0%, #7f84dd 100%);
    margin: auto;
    -webkit-box-pack: center;
}

.banner__call {
    font-size: 30px;
    text-align: left;
    font-weight: 700;
    font-style: normal;
    font-family: "Ubuntu", sans-serif;
    color: var(--color-title);
}



/* @media (min-width: 320px) {
    .features__text {
        flex-direction: row;
        flex: 1;
        justify-content: space-around;
    }
} */