#download_application {
    background-color: #2e3e61;
}

.features__coniner-text {
    display: flex;
    flex-direction: column;
}

.features__title  {
   /* display: flex;*/
   color: var(--color-title);
   display: block;
   justify-content: center;
   margin-top: 20px;
}

.features__box-line {
    color: var(--color-elements);
    display: flex;
    padding: 0px 15px 0px 15px;
    justify-content: left;
    align-items: start;
    display: inline-block;
}

.features__line {
    border-image-width: 1;
}

.features__box-title {
    font-family: "Ubantu", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    text-transform: none;
    color: var(--color-title);
    display: block;
    display: inline-block;
}
.features__believe-text,
.application__offer {
    display: block;
    color: var(--color-text);
    font-family: "Fira Sans", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    margin: 25px 0px 0px 15px;
}
.features__box-question {
    margin: 50px 0px 0px 15px;
}
.features__question {
    color: var(--color-title);
    font-family: "Fira Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    line-height: 27.2px; 
}
.features__question-link {
    text-decoration: none;
    color: var(--color-title-city);
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    line-height: 24px;
}

.demo__application {
    /*display: flex;*/
}

.features__carousel {
    margin: 20px 0px 100px 0px;
}

.features__carousel-block {
    width: 260px;
    height: 295px;
    padding: 10px 15px 5px 10px;
    margin: auto;
}

.features__carousel-gradient {
    height: 15px;
    width: auto;
    background-image: linear-gradient(105deg, #17C89D 39%, #346BC0 96%);
}

.features__carousel-information {
    height: auto;
    width: 235px;
    margin: auto;
    background: #1a1c28;;
}


.features__carousel-title {
    color: var(--color-title);
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    text-transform: none;
    line-height: 23.4px;
    padding: 20px 20px 0px 20px;
}
.features__carousel-benefit {
    color: var(--color-subtitle);
    font-family: "Fira Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    line-height: 27.2px;
    height: 200px;
    margin: 20px 20px 10px 20px;
}

.demo__application {
    padding: 0px 15px 0px 15px;
}

.application__download {
    display: flex;
    justify-content: left;
    min-height: 126px;
}
.application__box-line {
    color: var(--color-elements);
    /*display: flex;*/
    justify-content: left;
    align-items: start;
}

.application__line {
    border-image-width: 1;
}

.application__title {
    font-size: 34px;
    text-align: left;
    font-weight: 700;
    font-style: normal;
    font-family: "Ubuntu", sans-serif;
    color: var(--color-title);
    padding-left: 15px;
}

.advantage__block {
    display: flex;
    padding: 8px 0px 8px 0px;
}

.advantage__icon-box {
    display: block;
    height: 50px;
    width: 50px;
    background: rgb(180, 180, 180, 0.07);
    display: flex;
    border-radius: 50%;
    /*align-items: center;*/
    justify-content: center;
}

.advantage__icon {
    width: 26px;
    height: 26px;
    margin: auto;
    text-align: center;
}

.advantage__block-text {
    display: flex;
    flex-direction: column;
    padding: 7.5px;
    width: 240px;
}

.advantage__title {
    color: var(--color-title);
    font-family: "Fira Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    text-transform: none;
    line-height: 27.2px;
    max-width: 100%;
}

.advantage__description {
    color: var(--color-subtitle);
    font-family: "Fira Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    line-height: 27.2px;
    max-width: 100%;
}

.advantage__label {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}

.label__appstore-container {
    background-size: cover;
}

.label__appstore, .label__googleplay {
    width: 135px;
    height: 42px;
    margin: 10px 10px 10px 10px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
}
.advantage__name {
    color: var(--color-text);
    font-family: "Fira Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    line-height: 27.2px; 
}

.application__background {
    background-image: url(../img/background_phone.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    position: relative;
}

.application__background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40%;
    border-color: white;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
  }

.banner__wraper {
    /*width: 100%;*/
    height: 399px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__background {
    width: 279px;
    height: 272px;
    background:linear-gradient(-82deg, rgb(186, 88, 208) 0%, #7f84dd 100%);
    padding: 31px 39px  31px 39px;
}

.banner__call {
    display: block;
    display: flex;
    line-height: 42px;
    font-size: 30px;
    text-align: left;
    font-weight: 700;
    font-style: normal;
    font-family: "Ubuntu", sans-serif;
    color: var(--color-title);
}

.banner__description {
    color: var(--color-link);
    font-family: "Fira Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    line-height: 27.2px;
    margin-top: 25px;
}

.banner__description-question {
    text-decoration: none;
    color: var(--color-elements);
    font-family: "Fira Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    text-transform: none;
    line-height: 27.2px;
}



/* @media (min-width: 320px) {
    .features__text {
        flex-direction: row;
        flex: 1;
        justify-content: space-around;
    }
} */