.header {
    background-image: url(../img/header/header_background.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-width: none;
}

.header__logo {
    width: 174px;
}

.header__nav {
    padding: 30px 24px;
    max-width: 1200px;
    margin: auto;
}

.header__banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 150px 15px 150px 15px;
    text-align: center;
}

.header__banner-title {
    color: var(--color-title);
    font-size: calc(2em + 3vw);
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    line-height: 46px;
    padding-bottom: 15px;
}

.header__banner-text {
    color: var(--color-text);
    font-size: 19px;
    line-height: 31px;
    padding: 14px;
    max-width: 800px
}

.header__banner-download {
    color: var(--color-elements);
    text-decoration: none;
    font-size: 17px;
    line-height: 27px;
    font-weight: 700;
    padding: 14px;
}

@media (max-width: 500px) {
    .header {
        height: 85vh;
    }

}

/* @media (min-width: 900px) {
    .header__contacts {
        display: flex;
        flex-direction: row;
        padding: 25px 0 30px 0;
        max-width: 1200px;
        margin: auto;
        justify-content: space-between;
    }

    .header__contacts-support {
        display: flex;
        flex-direction: row;
    }

    .header__contacts-write {
        display: flex;
        flex-direction: row;

    }

    .support__text {
        color: var(--color-elements);
        margin-right: 4px;
    }

    .support__link {
        color: var(--color-link);
        text-decoration: none;
    }

    .write__text {
        color: var(--color-elements);
        margin-right: 4px;
    }

    .write__link {
        color: var(--color-link);
        text-decoration: none;
    }

    .header__line {
        height: 0.5px;
        width: 1200px;
        background-color: rgba(192, 192, 192, 0.315);
        margin: auto;
    }

    .header__menu {
        display: flex;
        flex-direction: row-reverse;
    }

    .header__menu-list {
        display: flex;
        flex-direction: row;
    }

    .header__list {
        margin: 8px;
        text-decoration: none;
        color: var(--color-link);
    }

    .header__menu-list {
        list-style: none;
    }
} */