@media(max-width: 767px) {
    .ico__progress {
        background: linear-gradient(0deg, #2e3e61 0%, rgb(33, 40, 61) 100%);
        padding: 55px 15px 20px 15px;
        display: block;

    }

    .section-title__title {
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        color: var(--color-title);
    }

    .row__value {
        font-family: 'Ubantu', sans-serif;
        font-size: 18px;
        color: var(--color-text);
    }

    .row__title {
        font-family: 'Fira Sans', sans-serif;
        font-size: 14px;
        color: #7F84DD;
    }
}