.ico-progress {
    background: linear-gradient(0deg, #2e3e61 0%, rgb(33, 40, 61) 100%);
    padding: 55px 0 20px;
}

.content-container {
    padding: 0 24px;
}

.title-line {
    display: block;
    width: 35px;
    height: 5px;
    background-color: var(--color-elements);
}

.ico-progress-title__title {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    font-family: 'Ubantu', sans-serif;
    font-size: 30px;
    color: var(--color-title);
}

.clock {
    margin-top: 15px;
    color: var(--color-text);
    font-size: 20px;
}

.ico-progress__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 45px;
}

.row__title {
    font-family: inherit;
    font-size: 14px;
    color: #7F84DD;
    margin-bottom: 25px;
}

.row__value {
    font-family: 'Ubantu', sans-serif;
    font-size: 18px;
    color: var(--color-text);
}

.button {
    background-color: var(--color-elements);
    border: var(--color-elements) solid 1px;
    display: inline-block;
    padding: 18px 30px;
    margin: 10px 10px 10px 0px;

}

.ico-progress__button {
    text-decoration: none;
    font-size: 16.5px;
    color: var(--color-text-button)
}

.button:hover,
.button:active {
    background: linear-gradient(rgb(127 132 221), rgb(186, 88, 208));
}

.ico-progress__slider {
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    
}

.ico-progress__slider-container {
    display: flex;
    max-width: 80%;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.ico-progress__slider-buttons {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-top: 10px;
    
}

.slider-prev {
    border-radius: 40%;
    background: none;
    color: var(--color-elements);
    border-color: var(--color-elements);
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.slider-next {
    border-radius: 40%;
    background: none;
    color: var(--color-elements);
    border-color: var(--color-elements);
    height: 50px;
    width: 50px;
    cursor: pointer;
}


.slider-next:active,
.slider-prev:active {
    background: linear-gradient(rgb(127 132 221), rgb(186, 88, 208));
}


@media (min-width: 768px) {
    .ico-progress__row {
        flex-direction: row;
    }
    
    .ico-progress-title__title {
        font-size: 40px;
    }

    .row__title {
        font-size: 20px;
        padding: 0 15px 0 15px;
    }

    .row__value {
        font-size: 24px;
    }
    .ico-progress__button {
        font-size: 22.5px;
    }
}
