.investors-feedback {
    background-color: var(--color-background-statistics);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 55px;
    padding-bottom: 60px;
    font-size: 20px;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 


}

.wrapper__headline-feedback {
    padding-right: 40px;
    padding-left: 40px;
    min-height: 126px;
}

.dash {
    color: var(--color-elements);
    display: inline-block;
    line-height: 50.4px;
}

.dash__large {
    font-size: 30px;
}

.container__headline-feedback-text {
    color: var(--color-title);
    display: block;
}

.image__investors {
    width: 70px;
    border-radius: 50%;
}

