.stages {
    background: linear-gradient(0deg, #2e3e61 0%, rgb(33, 40, 61) 100%);
    padding: 55px 24px 60px;
}

.stages__title-container {
    display: flex;
    flex-direction: column;
}

.title-line {
    display: block;
    width: 35px;
    height: 5px;
    background-color: var(--color-elements);
}

.stages-title__title {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    font-family: 'Ubantu', sans-serif;
    font-size: 30px;
    color: var(--color-title);
}

.stages-title__addition {
    margin: 20px 0 20px 0;
    font-size: 19px;
    color: var(--color-text)
}

.stages-title__link {
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    color: #7F84DD;
}

.stages__table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table__column {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.table__figure {
    padding: 0 15px;
}
.table__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: linear-gradient(-145deg, rgb(52, 107, 192) 0%, rgb(186, 88, 208) 100%);
    border-radius: 48%;
}

.table__number {
    align-items: center;
    font-weight: bold;
    color: var(--color-text);
}


.column__text {
  display: block;
  margin: 15px;
}


.text__month-year {
    font-family: 'Ubantu', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(77,142,255);
}

.text__title {
    font-family: 'Ubantu', sans-serif;
    font-size: 18px;
    color: var(--color-title)
}

.text__description {
    font-size: 17px;
    color: var(--color-link);
    margin-top: 20px;

}

@media(min-width: 768px) {
    .stages__table-container {
        margin-top: 50px;
    }

    .table__column {
        display: grid;
        grid-template-columns: 5fr 1fr 5fr;
    }

    .table__figure {
        position: relative;
        display: grid;
        justify-items: center;
        grid-column: 2/3

    }

    .table__info {
       grid-column: 3/4;
    }

    .info-left {
        text-align: right;
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

@media (min-width: 900px) {
    .stages__title-container {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        gap: 30px;
    }
   
    .stages-title__addition {
        margin: 0;
    }
}

