.block__statistic{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 50px;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}
.block__title_statistic-in-dollar{
    color:var(--color-elements);
    font-size: 30px;
}
.block__title-statistic-users{
    color:var(--color-elements);
    font-size: 30px;
    box-sizing: border-box;  
}
.block__title-statictic-in-percent{
    color:var(--color-elements);
    font-size: 30px;
    display: inline;
    box-sizing: border-box;  
}
.block__title-statistic-speed-transactions{
    color:var(--color-elements);
    font-size: 30px;
    display: inline;
    box-sizing: border-box;  
}
.subtitle__statistic-in-dollar{
    word-wrap: break-word;
}
.subtitle__text-statistic-in-dollar{
    color: var(--subtitle-statistic-text-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    display: inline;
    word-wrap: break-word;
}
.subtitle__text-statistic-users{
    color: var(--subtitle-statistic-text-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    display: inline;
    word-wrap: break-word;
}
.subtitle__text-statistic-in-percent{
    color: var(--subtitle-statistic-text-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    display: inline;   
    word-wrap: break-word;
}
.subtitle__text-statistic-speed-transactions{
    color: var(--subtitle-statistic-text-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    display: inline;
    word-wrap: break-word;
}

hr{
    background:#ffffff1c;
    height: 3px;
    border: 0;
    width: 20%;
}