.wrapper__statistics-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 50px;
    min-height: 634.8px;
}

.text__title-statistics {
    color: var(--color-elements);
    font-size: 30px;
}

.text__subtitle-statistics {
    color: var(--color-subtitle);
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    display: inline;
}

hr {
    background: #ffffff1c;
    height: 3px;
    border: 0;
    width: 20%;
}

@media (min-width: 768px) {
    .wrapper__statistics-block {
        display: flex;
        flex-direction: row;
        gap: 10px;
        word-break: normal;
        align-items: center;
        padding-right: 40px;
        padding-left: 40px;
        margin-top: 50px;
        justify-content: center;
    }
}