@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&family=Ubuntu:wght@700&display=swap');
.get-token {
    display: flex;
    flex-direction: row;
    padding: 60px 40px;
    justify-content: center;
}

.crp-token {
    max-width: 570px;
    min-width: 272px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
}
.crp-title{
    display: flex;
    align-items: center;
}
.yellowline {
    height: 7px;
    width: 46px;
    margin: 10px;
    background-color: #ffb811;
}
.crp-token__title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    color: #fff;
}
.crp-token__info {
    font-family: 'Fira Sans', sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: #cfcdd8;
}
.crp-token__info-text {
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #a7a7b1;
}
.crp-token_list-item {
    display: flex;
    align-items: center;
}
.check {
    background-color: #1c0c0c;
    border-radius: 100%;
    margin: 0px 6px;
    height: 24px;
    width: 20px;
}
.text-content {
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
}
.roi {
 font-weight: 500;
}
.ico-timer {
    max-width: 570px;
    min-width: 272px;
    padding: 0px 15px;
    background-color: #252338;
    height: 378px;
}
.ico-end {
    margin: 50px 0px 0px 16px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    color: #ffffff9e;
}
.date {
    color: #ffb811;
}
.timer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.timer-item {
    margin: 20px    ;
}
.timer-number {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    color: #fff;
    
}
.timer-caption {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #ffffff9e;
    font-weight: 300;
}
.verticalline {
    margin: 50px 0px 0px 0px;
    height: 100px;
    width: 1px;
    background-color: #ffffff9e;
}
.ico-stats {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 300;
}
.ico-stat_worth {
    display: flex;
}
.ico-stat_tokens {
    display: flex;
}
.ico-stat_btc {
    display: flex;
}
.ico-stat_owners {
    display: flex;
}
.ico-stat-item {
    margin: 19px 0px 0px 16px;
    padding: 0px 12px;
}
.greyline {
    width: 20px;
    background-color: #ffffff;
    height: 1px;
}
.ico-stat-green {
    font-size: 20px;
    color: #58e754;
    font-weight: 500;
}
.ico-stat-value {
    color: #e69d19;
    font-size: 20px;
    font-weight: 500;
}
.join-crypto {
    display: flex;
    flex-direction: row;
   margin: 0px 70px 0px 80px;
   padding: 60px 35px 60px 35px;
   justify-content: center;
 
}
.join-crypto_a {
    background-image: linear-gradient(to right, #336cbf, #17c69d);
    width: 1170px;
    height: 189px;
}
.join-community {
    display: flex;
    flex-direction: column;
}
.join-community-title {
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 0px 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    color: #fff;
}
.join-community_subtitle {
    display: flex;
    padding: 15px 0px 0px 50px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.join-community-text {
    display: flex;
    align-items: center;
    color: #ffffffab;
}
.join-community-link {
    font-weight: 500;
    color: #ffb811;
    display: flex;
    align-items: center;
    margin-left: 5px;
    text-decoration: none;
}
