@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&family=Ubuntu:wght@700&display=swap');
.get-token {
    display: flex;
    flex-direction: row;
    padding: 60px 40px;
    justify-content: center;
    background-color: #1a1c28;
}
.crp-token {
    max-width: 570px;
    min-width: 272px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
}
.crp-title{
    display: flex;
}
.yellowline {
    height: 7px;
    width: 48px;
    margin: 25px 11px 0px 0px;
    background-color: #ffb811;
}
.crp-token__title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    color: #fff;
}
.crp-token__info {
    font-family: 'Fira Sans', sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: #cfcdd8;
    margin: 30px 0px 0px;
}
.crp-token__info-text {
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #a7a7b1;
    margin: 30px 0px 0px;
}
.crp-token_list-item {
    display: flex;
    align-items: center;
    margin: 20px 0px 0px;
}
.check {
    border-radius: 100%;
    margin: 0px 6px 0px 0px;
    height: 24px;
    width: 20px;
}
.text-content {
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
}
.roi {
 font-weight: 500;
}
.ico-timer {
    max-width: 570px;
    min-width: 272px;
    margin: 0px 15px;
    background-color: #21232f;
    height: 378px;
}
.ico-end {
    margin: 50px 0px 0px 35px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    color: #ffffff9e;
}
.date {
    color: #ffb811;
}
.timer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.timer-item {
    margin: 20px 20px;
    width: 142px;
    height: 142px;
    padding: 45px 40px 0px 40px;
    text-align: center;
}
.timer-number {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    color: #fff;
    
}
.timer-caption {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #7e7f86;
    font-weight: 300;
}
.verticalline {
    margin: 50px 0px 0px 0px;
    height: 90px;
    width: 1px;
    background-color: #30323d;
}
.ico-stats {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 300;
    margin-top: 10px;
}
.ico-stat_worth {
    margin: 0px 0px 16px 20px;
    padding: 0px 12px;
    display: flex;
}
.ico-stat_tokens {
    margin: 0px 0px 16px;
    padding: 0px 12px;
    display: flex;
}
.ico-stat_btc {
    margin: 0px 0px 16px;
    padding: 0px 12px;
    display: flex;
}
.ico-stat_owners {
    margin: 0px 0px 16px;
    padding: 0px 12px;
    display: flex;
}
.ico-stat-item {
    padding: 3px 10px 0px 0px;
}
.greyline {
    width: 20px;
    background-color: #51525c;
    height: 2px;
}
.ico-stat-green {
    font-size: 20px;
    color: #58e754;
    font-weight: 500;
    padding: 5px 0px 0px;
}
.ico-stat-value {
    color: #e69d19;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0px 0px;
}
.join-crypto {
    padding: 60px 40px 70px;
    display: flex;
   justify-content: center;
   background-color: #1a1c28; 
 
}
.join-crypto_a {
    background-image: linear-gradient(to right, #336cbf, #17c69d);
    width: 1170px;
    height: 189px;
}
.join-community {
    display: flex;
    flex-direction: column;
}
.join-community-title {
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 0px 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    color: #fff;
}
.join-community_subtitle {
    display: flex;
    padding: 30px 0px 0px 50px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.join-community-text {
    display: flex;
    align-items: center;
    color: #ffffffab;
}
.join-community-link {
    font-weight: 500;
    color: #ffb811;
    display: flex;
    align-items: center;
    margin-left: 5px;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .get-token {
        height: 653px;
       padding: 60px 0px;
    }
    .crp-token {
        width: 328px;
    }
    .crp-token__title {
        font-size: 41px;
    }
    .ico-timer {
        width: 328px;
        height: 533px;
    }
    .ico-end {
        font-size: 33px;
        margin: 35px 30px 0px;
    }
    .timer-item {
        height: 76px;
        margin: 0px 20px;
        padding: 15px 0px;
        
    }
    .verticalline {
        margin: 0px;
        height: 76px;
    }
    .timer-container {
        margin: 30px 0px 0px;
        
    }
    .timer-number {
        font-size: 24px;
    }
    .timer-caption {
        font-size: 12px;
        font-weight: 500;
    }
    .ico-stat_worth {
        margin: 0px 0px 30px;
    }
    .ico-stats {
        margin: 30px 0px 0px 20px;
    }
    .crp-token__info {
        margin: 35px 0px 0px;
    }
    .crp-token__info-text {
        margin: 35px 0px 0px;
    }
    .crp-token_list-item{
        margin: 25px 0px 0px;
    }
    .join-crypto {
        padding: 60px 40px 70px;
    }
    .join-crypto_a {
        height: 166px;
    }
    .join-community-title {
        font-size: 33px;
        padding: 45px 0px 0px 45px;
    }
    .join-community_subtitle {
        padding: 30px 0px 0px 45px;
    }
  }
@media screen and (max-width: 338px) {
    .get-token {
        display: flex;
        flex-direction: column;
        padding: 120px 0px 0px;
        height: 1253px;
        margin: 0px;
    }
    .crp-token {
        width: 321px;
        padding: 0px 24px;
    }
    .crp-token__title {
        font-size: 34px;
    }
    .ico-timer {
        padding: 0px;
        margin: 0px;
        width: 273px;
        margin: 50px 24px 0px;
        height: 540px;
    }
    .yellowline {
        margin: 20px 11px 0px 0px;
        height: 4px;
        width: 45px;
    }
    .verticalline {
        height: 61px;
    }
    .timer-number {
        font-size: 18px;
    }
    .ico-stat_worth {
        margin: 0px 0px 20px;
    }
    .ico-stat_tokens {
        margin: 0px 0px 20px;
    }
    .ico-stat_btc {
        margin: 0px 0px 20px;
    }
    .ico-stat_owners{
        margin: 0px 0px 20px;
    }
    .timer-item {
        height: 61px;
        margin: 0px 20px;
        padding: 15px 0px;
    }
    .ico-end {
        font-size: 30px;
    }
    .ico-stats {
        display: flex;
        flex-direction: column;
    }
    .join-crypto {
        height: 382px;
        padding: 60px 24px 70px ;
    }
    .join-crypto_a {
        height: 260px;
    }
    .join-community_subtitle {
        display: flex;
        flex-direction: column;
        padding: 30px 0px 0px 40px;
    }
    .join-community-link {
        margin: 0px;
        max-width: 195px;
    }
    .join-community-text {
        width: 195px;
    }
    .join-community-title {
        padding: 40px 0px 0px 40px;
        font-size: 30px;
    }
}