.why__wrapper {
    background: rgb(26,29,42);
}



.why__cryptochange-block {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
}
.text__wrapper{
    width: 50%;
    margin-left: 5%;
}

.image__wrapper-why {
    height: 403px;
    width: 430px;
}

.image__wrapper {
    width: 40%;
    display: flex;
    justify-content: center;
}

.yellow__line-o {
    color: rgb(255, 184, 17);
}

.links__container-arrow{
    display: grid;
    grid-template-columns: auto auto auto;
}

.yellow__arrow {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.why__header {
    color: #f8f8f8 ;
}

.text__container-bolt-font {
    color: #f8f8f8;
}

.text__container {
    color: #f8f8f8;
}

.w__icon{
    width: 25px;
}

.paginator__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anycash__one {
    background-color: rgb(40,47,67);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indacoin__two{
    background-color: rgb(40,47,67);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intotheblock__three {
    background-color: rgb(40,47,67);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.listinghelp__four {
    background-color: rgb(40,47,67);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mercuryo__five {
    background-color: rgb(40,47,67);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moonpay__six {
    background-color: rgb(40,47,67);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__left {
    margin-left: 1%;
    
}

.button__right {
    margin-right: 1%;
}

@media (max-width:768px){
    .text__wrapper{
        width: 100%;
    }
    .image__wrapper{
        width: 100%;
    }
}